{{define "layout"}}
  <!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>{{template "title"}}</title>
      <link rel="stylesheet" href="/static/stylesheets/main.css">
    </head>
    <body>
      <p>
        {{template "body"}}
        <div>Handler data will expire if a route is inactive for: {{ .HandlerTTL }}.</div>
      </p>
      {{ range .HandlerData }}
        <h1>Path: {{ .Path }}</h1>
        <table class="data-wrapper" width="100%" cellpadding="0" cellspacing="0">
          {{ range .Reqs }}
            <tr>
              <td colspan="2">
                <p>
                  {{ range . }}
                    <div>{{.}}</div>
                  {{end}}
                </p>
              </td>
            </tr>
          {{end}}
        </table>
      {{end}}
    </body>
  </html>
{{end}}